<!DOCTYPE html>
<html lang="en">
	<head>
	
		<meta charset="utf-8">
		<title>Tenant Payments</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="/css/bootstrap.css" rel="stylesheet">
		<style type="text/css">
		  body {
			padding-top: 60px;
			padding-bottom: 40px;
		  }
		</style>
		<link href="/css/bootstrap-responsive.css" rel="stylesheet">
		

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
		<!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
	

	</head>
	<body>
		<div class="navbar navbar-fixed-top">
		  <div class="navbar-inner">
			<div class="container">
			  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </a>
			  <a class="brand" href="#">Tenant Payments Management</a>
			  <div class="nav-collapse">
				<ul class="nav">
				  <li class="active"><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
				  <li><a href="tenants">Tenants</a></li>
				  <li><a href="rooms">Rooms</a></li>
				  <li><a href="#">Something Else</a></li>
				  
				</ul>
				<form class="navbar-search pull-right">
					<input type="text" class="search-query" placeholder="Search">
				</form>
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="tenantContracts" >Contracts by Tenant</a></li>
							<li><a href="roomContracts" >Contracts by Room</a></li>
							<li><a href="#">Link 2</a></li>
							<li><a href="#">Link 3</a></li>
						</ul>						
					</li>
				</ul>
				
			  </div><!--/.nav-collapse -->
			</div>
		  </div>
		</div>	
	
		<div class="container">	

			<!--modal -->
			<div class="modal hide" id="modal1"><!-- note the use of "hide" class -->
			  <div class="modal-header">
				<button class="close" data-dismiss="modal">x</button>
				<h3>Modal header</h3>
			  </div>
			  <div class="modal-body">				
				<div id="displayHereId"></div>
			  </div>
			  <div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a><!-- note the use of "data-dismiss" -->
				<!--<a href="#" class="btn btn-primary">Save changes</a>-->
				<a href="#" id="payRentSubmitId" class="modalSubmitBtn btn btn-success">Pay Now</a>
			  </div>
			</div>
			<!--ends modal -->

	
			<div class="row">			
				<div class="span12">	
					<div>			
						<h2>Tenant Payments</h2>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Tenant Name</th>
									<th>Room Number</th>
									<th>Start Date</th>
									<th>Rent</th>
									<th>Rate</th>
									<th>Bond</th>
									<th>Pay Period</th>
									<th>Total Paid Amount</th>
									<th>Last Pay Date</th>
									<th>Expiry Date</th>									
								<!--<th>Upaid Days</th>
									<th>Arrears</th>
									<th>Overdue Rent</th>-->
									<th>PayNow</th>
								</tr>
							</thead>
							<tbody>
							{% for payment in payments %}
								<tr>								
									<td class="tenantNameClass">
										<a href="#" rel="popover" data-content="click to display tenant {{ payment.contract.tenant.firstName }} {{ payment.contract.tenant.surname }}'s profile" data-original-title="Remainder:" data-tenant-key="{{ payment.contract.tenant.key }}" >{{ payment.contract.tenant.firstName }} {{ payment.contract.tenant.surname }}</a>
									</td>	
									<td class="roomNumberClass">
										<a href="#" rel="popover" data-content="click to display Room {{ payment.contract.room.roomNumber }} 's profile" data-original-title="Remainder:" data-room-key="{{ payment.contract.room.key }}" >{{ payment.contract.room.roomNumber }}</a>
									</td>
									<td>{{ payment.contract.startDate }}</td>
									<td>{{ payment.contract.rent }}</td>
									<td>{{ payment.contract.getRentRate }}</td>
									<td>{{ payment.contract.getBond }}</td>
									<td>{{ payment.contract.payPeriod }}</td>
									<td class="tenantTransactionClass">
										<a href="#" rel="popover" data-content="click to get {{ payment.contract.tenant.firstName }} {{ payment.contract.tenant.surname }}'s transactions" data-original-title="Remainder:" data-payment-key="{{ payment.key }}" data-totalpaidamount="{{ payment.totalPaidAmount }}" >{{ payment.totalPaidAmount }}</a>		
									</td>
									<td>{{ payment.getLastPayDate }}</td>
									<td>{{ payment.rentExpiredDate }}</td>
									<td class="payRentClass">
										<a href="#" id="payRentNowId" rel="popover" data-content="click to pay the rent right now" data-original-title="Remainder:"  data-tenant-firstname="{{ payment.contract.tenant.firstName }}" data-tenant-surname="{{ payment.contract.tenant.surname}}" data-paymentkey="{{ payment.key}}">Pay Now</a>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
					<div id="paymentFormOrTable"></div>
				</div><!--span-->
			</div><!--row-->
			
			<footer>
			<p>&copy; Company 2012</p>
			</footer>
		</div><!--container-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
		<script src="/scripts/app1.js"></script>
		<script src="/scripts/app2.js"></script>
		<script src="/scripts/bootstrap-modal.js"></script>
		<script src="scripts/bootstrap-tooltip.js"></script>
		<script src="/scripts/bootstrap-popover.js"></script> 
		<script src="/scripts/bootstrap.min.js"></script> 
	</body>
</html>